BACKEND_URL = http://localhost:3002
FRONTEND_URL = http://localhost:3000
JWT_SECRET = secret_key_example_1234567890
POSTGRES_PASSWORD = password_example
POSTGRES_USERNAME = user_example
POSTGRES_DATABASE = database_example
POSTGRES_URL = postgres://user_example:password_example@localhost:5432/database_example
GEMINI_API_KEY = key_example_1234567890
GEMINI_URL = url_example_1234567890
CLOUDINARY_CLOUD_NAME = name_example_1234567890
CLOUDINARY_API_KEY = key_example_1234567890
CLOUDINARY_API_SECRET = secret_example_1234567890
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GROQ_API_KEY=your_groq_api_key_here
NODE_ENV=development
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password
ADMIN_JWT_SECRET=admin_jwt_secret_example_1234567890